{% extends "mailings/base.html" %}
{% block content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5">
    <div class="d-flex justify-content-center">
        <div class="card col-6">
            <div class="card-header bg-primary text-white">
                Карточка клиента
            </div>
            <div class="card-body bg-primary-subtle text-primary-emphasis">
                <h5 class="card-title">{{ recipient.email }}</h5>
                <h6 class="card-title">{{ recipient.name }}</h6>
                <p class="card-text">{{ recipient.comment }}</p>
            </div>
            <div class="card-footer bg-primary-subtle text-primary-emphasis text-end">
                <a href="{% url 'mailings:recipient_list' %}" class="btn btn-sm btn-primary">Назад >></a>
            </div>
        </div>
    </div>
    {% endblock %}