{% extends "mailings/base.html" %}

{% block content %}
<main class="container mt-3">
    <div class="row g-5 mt-3">
        <div class="col-4"></div>
        <div class="card col-4 shadow p-3 bg-body-tertiary rounded">
            <div class="card-body">
                <p class="fs-3 text-center">Восстановление пароля</p>
                <form method="post" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="col-12">
                        <label class="form-label">{{ field.label_tag }}</label>
                        {{ field }}
                        <p class="fs-6 fw-light fst-italic lh-1 my-1">{{ field.help_text }}</p>
                        <div class="form-error fs-6 fw-semibold fst-italic text-danger lh-1 my-1">{{ field.errors }}</div>
                    </div>
                    {% endfor %}
                    <div class="col-12 text-center">
                        <button type="submit" class="btn col-8 btn-primary mb-2">
                            Сборосить пароль
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
        {% endblock %}