{% extends "mailings/base.html" %}
{% load i18n %}

{% block content %}
<main class="container mt-3">
    <div class="row g-5 mt-3">
        <div class="col-3"></div>
        <div class="card col-6 shadow p-3 bg-body-tertiary rounded">
            <div class="card-header text-bg-light">
                <h5 class="lh-1 my-1">Пароль изменен</h5>
            </div>
            <div class="card-body">
                <p>
                    Поздравляем! Вы успешно изменили пароль своего аккаунта. Используйте его для <a href="{% url 'users:login' %}">входа в систему</a>.
                </p>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
{% endblock %}