<div class="modal fade" id="confirmModal-{{ object.pk }}" tabindex="-1"
     aria-labelledby="confirmModalLabel"
     aria-hidden="true">
    <div class="modal-dialog text-black">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5" id="confirmModalLabel"></p>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ text }} "{{ title }}"?
            </div>
            <div class="modal-footer">
                <div class="d-flex gap-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Отмена
                    </button>
                    <a type="button" class="btn btn-primary"
                       href="{% url myurl object.pk %}">
                        Отправить
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>