<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel"
     aria-hidden="true">
    <div class="modal-dialog text-black">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title fs-5" id="infoModalLabel">{{ subject }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ text }}
            </div>
            <div class="modal-footer">
                <div class="d-flex text-end">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ок</button>
                </div>
            </div>
        </div>
    </div>
</div>